.navbar.navbar-static-top
  .navbar-inner
    .container-fluid
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/")
        img(src="/images/logo.png")
      ul.nav.pull-right
        li
          a(href="/") Kittyballs personal
        li
          a(href="#military", data-toggle="modal") Kittyballs military
        li
          a(href="#", data-toggle="modal") Kittyballs shelter
        li
          a(href="#", data-toggle="modal") Donate today
        li
          a(href="#", data-toggle="modal") About
