.footer.container-fluid
  .row-fluid
    .span12
      h1 Designed and built with all the love in the world by:
      h2
        a(href="http://twitter.com/justinisaf", target="_blank") @JustinIsaf
        , 
        a(href="http://twitter.com/rodrigosanchez", target="_blank") @RodrigoSanchez
        , and 
        a(href="http://twitter.com/preichenberger", target="_blank") @preichenberger
