.footer
  .span12
    h1 Designed and built with all the love in the world by:
    h2
      a(href="http://twitter.com/mdo", target="_blank") @JustinIsaf
      , 
      a(href="http://twitter.com/fat", target="_blank") @RodrigoSanchez
      , and 
      a(href="http://twitter.com/fat", target="_blank") @preichenberger
