extends ../layout

block title
  = "Home" 

block content
  .hero-unit
    h1 Because cats are as bored as you are.
    br
    center
      a(href=config.action)
        button.btn.btn-large.btn-success Connect with a KittyBall near you.
      br
      br
      p.lead KittyBalls lets you play with cats all over the world who are waiting to be adopted.
      p.lead Take a break from work. Play with an adorable kitten. Adopt it.
  script(
    src="/js/jquery-tubular.js",
    type="text/javascript"
  )

  script(type="text/javascript")
    var options = { videoId: 'D_XGD3_dNYc', start: 3 };
    $('.main').tubular(options);
